<app-navbar></app-navbar>

<section class="text-center text-white d-flex flex-column justify-content-center align-items-center vh-100" >

    <h1 class="text-uppercase fw-bolder">about component</h1>
    <div class="line-star d-flex justify-content-center align-items-center my-3">
      <div class="line"></div>
      <div class="star">★</div>
      <div class="line"></div>
    </div>
    <div class="container ">
      <div class="row px-5 text-start">
        <div class="col-md-6 ps-md-5">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, atque esse! Aspernatur nobis explicabo fugit similique veritatis rem corrupti a delectus repudiandae animi, optio veniam at aliquam sit tenetur molestias?</p>
        </div>
        <div class="col-md-6 ps-md-5">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, atque esse! Aspernatur nobis explicabo fugit similique veritatis rem corrupti a delectus repudiandae animi, optio veniam at aliquam sit tenetur molestias?</p>
        </div>
      </div>
    </div>
  </section>

<app-footer></app-footer>