<section class="py-5">
    <div class="container">
      <div class="row py-5">
        <div class="col-md-4 col-sm-12 mb-4">
          <div class="body text-center">
            <h3>LOCATION</h3>
            <p>2215 John Daniel Drive</p>
            <p>Cairo, MO 65243</p>
          </div>
        </div>
  
        <div class="col-md-4 col-sm-12 mb-4">
          <div class="body text-center">
            <h3>AROUND THE WEB</h3>
            <div class="icons d-flex justify-content-center flex-nowrap gap-3">
              <div class="icon-circle">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
              </div>
              <div class="icon-circle">
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
              </div>
              <div class="icon-circle">
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
              </div>
              <div class="icon-circle">
                <a href="#"><i class="fa-solid fa-globe"></i></a>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 col-sm-12">
          <div class="body text-center">
            <h3>ABOUT Resturant</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, quo?</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="end" class="text-center p-3">
    Copyright © Your Website 2025
  </section>