.portfolio-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: orange    ; 
    margin-top: 20px;
  }
  
  .line-star {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .line {
    width: 70px; 
    height: 4px;
    background-color: orange
    ; 
    margin: 0 5px;
  }
  
  .star {
    font-size: 20px; 
    color: orange    ; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
  }
  
  .image {
    overflow: hidden;
    display: inline-block;
    position: relative;
  }
  
  .image img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
  }
  
  .layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(209, 213, 103, 0.9);
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image:hover .layer {
    opacity: 1;
  }
  
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #fff;
  
    border-radius: 8px;
    text-align: center;
    width: 40%;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
  }